<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Biblioteca</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<style>
    .icon-size {
        font-size: 1.5rem; /* Ajusta el tamaño aquí, por ejemplo 1.5rem */
        margin-bottom: 20px; /* Ajusta el margen inferior aquí */
    }
</style>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-person-fill icon-size" aria-hidden="true"></span> Autores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Libros">
                <span class="bi bi-book-fill icon-size" aria-hidden="true"></span> Libros
            </NavLink>
        </div>
    </nav>
</div>


